<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Agregar Reserva</h5>
    </div>
    <div class="modal-body">
      <form>
          <div class="row">
              <div class="form-group col-6" >
                  <label for="doctor">Doctor</label>
                  <div class="input-group">
                    <select class="form-control" id="doctor" name="doctor" [(ngModel)]="doctor">
                      <option selected disabled="true">Selecciona un Doctor</option>
                      <ng-container *ngFor="let persona of personas">
                          <option [ngValue]="persona" *ngIf="persona.flag_es_doctor">
                            {{ persona.nombre }} {{ persona.apellido }}
                          </option>
                        </ng-container>
                    </select>
                  </div>
              </div>
              <div class="form-group col-6" >
                  <label for="doctor">Fecha</label>
                  <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd"
                             name="dp" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="fecha"
                             (ngModelChange)="onDateChange()">
                      <div class="input-group-append">
                        <button class="btn btn-outline-info" (click)="d.toggle()" type="button">Elegir fecha</button>
                      </div>
                    </div>
              </div>
          </div>
          <div class="row mt-3">
              <div class="form-group col-6">
                  <label for="paciente">Paciente</label>
                  <div class="input-group">
                    <select class="form-control" id="paciente" name="paciente" [(ngModel)]="paciente">
                      <option selected disabled="true">Selecciona un Paciente</option>
                      <ng-container *ngFor="let persona of personas">
                          <option [ngValue]="persona" *ngIf="!persona.flag_es_doctor">
                            {{ persona.nombre }} {{ persona.apellido }}
                          </option>
                        </ng-container>
                  </select>
                  </div>
              </div>
              <div class="form-group col-3" >
                  <label for="doctor">Hora de inicio</label>
                  <div class="input-group">
                      <input min="9" max="20" type="number" class="form-control" name="inicio-hora" placeholder="HH" [(ngModel)]="horaInicio.hora" (change)="cambioInicio()">
                    </div>
              </div>
              <div class="col-3">
                  <label for="doctor">Hora de fin</label>
                  <div class="input-group">
                      <input min="10" max="21" type="number" class="form-control" name="fin-hora" placeholder="HH" [(ngModel)]="horaFin.hora" (change)="cambioFin()">
                    </div>
              </div>
          </div>
      </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" routerLink="/reservas">Volver</button>
          <button type="button" class="btn btn-primary" (click)="agregarReserva()">Guardar</button>
      </div>
      <div class="table-responsive">
          <table class="table">
              <thead>
                  <tr>
                  <th scope="col" *ngFor="let header of columns" >{{header}}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let group of reservas">
                  <td>{{group.fecha}}</td>
                  <td>{{group.horaInicio}}</td>
                  <td>{{group.horaFin}}</td>
                  <td>{{group.idDoctor.nombre + " " + group.idDoctor.apellido }}</td>
                  <td>{{group.idPaciente.nombre + " " + group.idPaciente.apellido }}</td>
                  <td>
                    <button class="btn btn-outline-success mx-2" [routerLink]="[reserva.idReserva, 'editar']">Editar</button>
                    <!-- <button class="btn btn-outline-danger mx-2" (click)="cancelarReserva(reserva)">Cancelar</button> -->
                  </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>


