<p>nueva-reserva works!</p>
<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Agregar Reserva</h5>
    </div>
    <div class="modal-body">
      <form>
          <div class="row">
              <div class="form-group col-6" >
                  <label for="doctor">Doctor</label>
                  <div class="input-group">
                      <input type="text" class="form-control" id="doctor" name="doctor" readonly [(ngModel)]="doctor.fullName">
                      <div class="input-group-append">
                          <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#doctorModal" type="button">Buscar</button>
                      </div>
                  </div>
              </div>
              <div class="form-group col-6" >
                  <label for="doctor">Fecha</label>
                  <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd"
                             name="dp" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="fecha"
                             (ngModelChange)="onDateChange()">
                      <div class="input-group-append">
                        <button class="btn btn-outline-info" (click)="d.toggle()" type="button">Elegir fecha</button>
                      </div>
                    </div>
              </div>
          </div>
          <div class="row mt-3">
              <div class="form-group col-6">
                  <label for="paciente">Paciente</label>
                  <div class="input-group">
                      <input type="text" class="form-control" id="paciente" readonly name="paciente" [(ngModel)]="paciente.fullName">
                      <div class="input-group-append">
                          <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#pacienteModal" type="button" >Buscar</button>
                      </div>
                  </div>
              </div>
              <div class="form-group col-3" >
                  <label for="doctor">Hora de inicio</label>
                  <div class="input-group">
                      <input type="number" class="form-control" name="inicio-hora" placeholder="HH" readonly [(ngModel)]="horaInicio.hora">
                      <p class="m-1">:</p>
                      <input type="number" class="form-control" name="inicio-minuto" placeholder="MM" readonly [(ngModel)]="horaInicio.minuto">
                    </div>
              </div>
              <div class="col-3">
                  <label for="doctor">Hora de fin</label>
                  <div class="input-group">
                      <input type="number" class="form-control" name="fin-hora" placeholder="HH" readonly [(ngModel)]="horaFin.hora">
                      <p class="m-1">:</p>
                      <input type="number" class="form-control" name="fin-minuto" placeholder="MM" readonly [(ngModel)]="horaFin.minuto">
                    </div>
              </div>
          </div>
      </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
          <button type="button" class="btn btn-primary" (click)="crearReserva()">Guardar</button>
      </div>
      <div class="table-responsive">
          <table class="table">
              <thead>
                  <tr>
                  <th scope="col" *ngFor="let header of columns" >{{header}}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let group of data | paginate: config">
                  <td>{{group.fecha}}</td>
                  <td>{{group.horaInicio}}</td>
                  <td>{{group.horaFin}}</td>
                  <td>{{group.idDoctor?.nombre + " " + group.idDoctor?.apellido }}</td>
                  <td>{{group.idPaciente?.nombre + " " + group.idPaciente?.apellido }}</td>
                  <td>
                      <button class="btn btn-outline-success mx-2" (click)="seleccionarTurno(group.horaInicio, group.horaFin)">Seleccionar</button>
                  </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <pagination-controls
          [previousLabel]="back"
          [nextLabel]="next"
          (pageChange)="pageChanged($event)">
      </pagination-controls>
  </div>
</div>



<div class="modal fade" id="doctorModal" tabindex="-1" aria-hidden="true">
  <app-persona (seleccionarDoctorEvent)="seleccionarDoctor($event)"></app-persona>
</div>


<div class="modal fade" id="pacienteModal" tabindex="-1" aria-hidden="true">
 <app-persona (seleccionarPacienteEvent)="seleccionarPaciente($event)"></app-persona>
</div>
