<div class="row">
  <div style="text-align: center;margin-top: 10px;">
    <h3>Consultar Reservas</h3>
  </div>
  <div class="col-md-12 text-end">
      <button type="button" class="btn btn-primary" routerLink="nuevo" style="margin-bottom: 5px;">Nueva Reserva</button>
  </div>
</div>
<form>
  <div class="row">
      <div class="form-group col-12 col-lg-6">
          <label for="doctor">Doctor</label>
          <div class="input-group">
            <select class="form-control" id="doctor" name="doctor" [(ngModel)]="personaSeleccionada1">
                <option value="">Selecciona un Doctor</option>
                <ng-container *ngFor="let persona of personas">
                    <option [value]="persona.idPersona" *ngIf="persona.flag_es_doctor">
                      {{ persona.nombre }} {{ persona.apellido }}
                    </option>
                  </ng-container>
            </select>
          </div>
      </div>
      <div class="form-group col-12 col-lg-6">
          <label for="paciente">Paciente</label>
          <div class="input-group">
            <select class="form-control" id="paciente" name="paciente" [(ngModel)]="personaSeleccionada2">
                <option value="">Selecciona un paciente</option>
                <ng-container *ngFor="let persona of personas">
                    <option [value]="persona.idPersona" *ngIf="!persona.flag_es_doctor">
                      {{ persona.nombre }} {{ persona.apellido }}
                    </option>
                </ng-container>
            </select>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="form-group col-12 col-lg-6 mt-lg-4">
          <label for="fechaDesde">Desde</label>
          <input type="date" class="form-control" id="fechaDesde" name="fechaDesde" [(ngModel)]="filtros.fechaDesde">
      </div>
      <div class="form-group col-12 col-lg-6 mt-lg-4">
          <label for="fechaHasta">Hasta</label>
          <input type="date" class="form-control" id="fechaHasta" name="fechaHasta" [(ngModel)]="filtros.fechaHasta">
      </div>
  </div>
</form>
<!--
<div class="row">
  <div class="col-md-12 text-end">
      <button type="button" class="btn btn-info mt-2" (click)="buscar()">Buscar</button>
  </div>
</div> -->

<div class="table-responsive" style="margin-top: 20px;">
  <table class="table">
      <thead>
          <tr>
          <th scope="col" *ngFor="let header of columns" >{{header}}</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let reserva of data | paginate: config">
          <td>{{reserva.fecha}}</td>
          <td>{{reserva.horaInicio}}</td>
          <td>{{reserva.horaFin}}</td>
          <td>{{reserva.idDoctor.nombre + " " + reserva.idDoctor.apellido }}</td>
          <td>{{reserva.idPaciente.nombre + " " + reserva.idPaciente.apellido }}</td>
          <td>
              <button class="btn btn-outline-danger mx-2" (click)="cancelarReserva(reserva)">Cancelar</button>
              <button class="btn btn-outline-success mx-2" [routerLink]="[reserva.idReserva, 'editar']">Modificar</button>
          </td>
          </tr>
      </tbody>
  </table>
</div>

<router-outlet></router-outlet>
<pagination-controls
  [previousLabel]="back"
  [nextLabel]="next"
  (pageChange)="pageChanged($event)">
</pagination-controls>

<!-- <div class="modal fade" id="doctorModal" tabindex="-1" aria-hidden="true">
  <app-persona (seleccionarDoctorEvent)="seleccionarDoctor($event)"></app-persona>
</div>

<div class="modal fade" id="pacienteModal" tabindex="-1" aria-hidden="true">
  <app-persona (seleccionarPacienteEvent)="seleccionarPaciente($event)"></app-persona>
</div> -->
