<div class="row">
  <div style="text-align: center;margin-top: 10px;">
    <h3>Consultar Reservas</h3>
  </div>
  <div class="col-md-12 text-end">
      <button type="button" class="btn btn-primary" routerLink="nuevo" style="margin-bottom: 5px;">Nueva Reserva</button>
  </div>
</div>
<form (submit)="busquedaFiltrada()">
  <div class="row">
      <div class="form-group col-12 col-lg-6">
          <label for="doctor">Doctor</label>
          <div class="input-group">
            <select class="form-control" id="doctor" name="doctor" [(ngModel)]="personaSeleccionada1">
                <option disabled selected>Selecciona un Doctor</option>
                <ng-container *ngFor="let persona of personas">
                    <option [ngValue]="persona" *ngIf="persona.flag_es_doctor">
                      {{ persona.nombre }} {{ persona.apellido }}
                    </option>
                  </ng-container>
            </select>
          </div>
      </div>
      <div class="form-group col-12 col-lg-6">
          <label for="paciente">Paciente</label>
          <div class="input-group">
            <select class="form-control" id="paciente" name="paciente" [(ngModel)]="personaSeleccionada2">
                <option disabled selected>Selecciona un paciente</option>
                <ng-container *ngFor="let persona of personas">
                    <option [ngValue]="persona" *ngIf="!persona.flag_es_doctor">
                      {{ persona.nombre }} {{ persona.apellido }}
                    </option>
                </ng-container>
            </select>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="form-group col-12 col-lg-6 mt-lg-4">
          <label for="fechaDesde">Desde</label>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                   name="dp" ngbDatepicker #d1="ngbDatepicker" [(ngModel)]="fecha_inicio" (ngModelChange)="onDateChange1()">
            <div class="input-group1-append">
              <button class="btn btn-outline-info" (click)="d1.toggle()" type="button">Elegir fecha</button>
            </div>
          </div>
      </div>
      <div class="form-group col-12 col-lg-6 mt-lg-4">
          <label for="fechaHasta">Hasta</label>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                   name="dp" ngbDatepicker #d2="ngbDatepicker" [(ngModel)]="fecha_fin" (ngModelChange)="onDateChange2()">
            <div class="input-group-append">
              <button class="btn btn-outline-info" (click)="d2.toggle()" type="button">Elegir fecha</button>
            </div>
          </div>
      </div>
  </div>
  <div class="form-group center mt-lg-4">
  <button class="btn btn-primary" type="submit">Filtrar</button>
  </div>
</form>

<div class="table-responsive" style="margin-top: 20px;">
  <table class="table">
      <thead>
          <tr>
          <th scope="col" *ngFor="let header of columns" >{{header}}</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let reserva of reservas_filtradas">
          <td>{{reserva.fecha}}</td>
          <td>{{reserva.horaInicio}}</td>
          <td>{{reserva.horaFin}}</td>
          <td>{{reserva.idDoctor.nombre + " " + reserva.idDoctor.apellido }}</td>
          <td>{{reserva.idPaciente.nombre + " " + reserva.idPaciente.apellido }}</td>
          <td>
            <button class="btn btn-outline-success mx-2" [routerLink]="[reserva.idReserva, 'editar']">Editar</button>
            <button class="btn btn-outline-danger mx-2" (click)="cancelarReserva(reserva)" *ngIf="reserva.flagEstado === 'Activo' ">Cancelar</button>
            <button type="button" class="btn btn-primary" [routerLink]="[reserva.idReserva, 'ficha']">Nueva Ficha</button>

          </td>
          </tr>
      </tbody>
  </table>
</div>
