<div class="container">
  <h3 style="margin-bottom: 25px; margin-top: 10px">Administración de Personas</h3>

  <!-- Formulario de Agregar Persona -->
  <div class="form-group" id="form_agregar_persona">
    <input type="text" class="form-control" [(ngModel)]="nuevaPersona.nombre" placeholder="Nombre" style="width: 70%;"/>
    <input type="text" class="form-control" [(ngModel)]="nuevaPersona.apellido" placeholder="Apellido" style="width: 70%;"/>
    <input type="text" class="form-control" [(ngModel)]="nuevaPersona.telefono" placeholder="Teléfono" style="width: 70%;"/>
    <input type="email" class="form-control" [(ngModel)]="nuevaPersona.email" placeholder="Email" style="width: 70%;"/>
    <input type="text" class="form-control" [(ngModel)]="nuevaPersona.cedula" placeholder="Cédula" style="width: 70%;"/>
    <div class="mb-3 form-check" style="text-align: left;">
      <label class="form-check-label" for="exampleCheck1">Es doctor</label>
      <input type="checkbox" id="exampleCheck1" class="form-check-input" [(ngModel)]="nuevaPersona.flag_es_doctor" placeholder="Es Doctor"/>
    </div>
    <button class="btn btn-primary mt-2 mb-4" (click)="agregarPersona()">Agregar Persona</button>
  </div>

  <div class="table-responsive">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered collapsed">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Cédula</th>
        <th>Es doctor?</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let persona of personas">

        <td *ngIf="!persona.editFieldName">{{ persona.nombre }}</td>
        <td *ngIf="persona.editFieldName"><input style="width: 100%;" type="text" [(ngModel)]="persona.nombre" /> </td>

        <td *ngIf="!persona.editFieldName">{{ persona.apellido }}</td>
        <td *ngIf="persona.editFieldName"><input style="width: 100%;" type="text" [(ngModel)]="persona.apellido" /> </td>

        <td *ngIf="!persona.editFieldName">{{ persona.telefono }}</td>
        <td *ngIf="persona.editFieldName"><input style="width: 100%;" type="text" [(ngModel)]="persona.telefono" /> </td>

        <td *ngIf="!persona.editFieldName">{{ persona.email }}</td>
        <td *ngIf="persona.editFieldName"><input  style="width: 100%;"type="text" [(ngModel)]="persona.email" /> </td>

        <td *ngIf="!persona.editFieldName">{{ persona.cedula }}</td>
        <td *ngIf="persona.editFieldName"><input style="width: 100%;" type="text" [(ngModel)]="persona.cedula" /> </td>

        <td *ngIf="!persona.editFieldName">{{ persona.flag_es_doctor }}</td>
        <td *ngIf="persona.editFieldName"><input style="width: 100%;" type="text" [(ngModel)]="persona.flag_es_doctor" /> </td>

        <td *ngIf="!persona.editFieldName">
          <button class="btn btn-success" (click)="editarPersona(persona)">Editar</button>
          <button class="btn btn-danger" (click)="eliminarPersona(persona)">Eliminar</button>
        </td>
        <td *ngIf="persona.editFieldName">
          <button style="width: 100%;" class="btn btn-success mt-2" (click)="guardarEdicionCambios(persona)">Guardar Cambios</button>
        </td>

      </tr>
    </tbody>
  </table>
  </div>
  <br />
</div>
