<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/reservas" style="">App Seguimiento de Pacientes</a>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/categorias">Categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/personas">Personas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reservas">Reservas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ficha">Fichas</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
