<p>categorias works!</p>
<div class="container">
  <h2>Administración de Categorias</h2>

  <!-- Formulario para agregar una nueva categoria -->
  <div class="form-group" id="form_agregar_persona">
    <input type="text" class="form-control" [(ngModel)]="nuevaCategoria.descripcion" placeholder="Descripcion" style="width: 70%;"/>
    <button class="btn btn-primary mt-2 mb-4" (click)="agregarCategoria()">Agregar Categoria</button>
  </div>

  <!-- Lista de categorias -->
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered">
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categoria of categorias">
        <td *ngIf="!categoria.editFieldName">{{ categoria.descripcion }}</td>
        <td *ngIf="categoria.editFieldName"><input type="text" [(ngModel)]="categoria.descripcion" /> </td>

        <td *ngIf="!categoria.editFieldName">
          <button class="btn btn-success" (click)="editarCategoria(categoria)">Editar</button>
          <button class="btn btn-danger" (click)="eliminarCategoria(categoria)">Eliminar</button>
        </td>
        <td *ngIf="categoria.editFieldName">
          <button class="btn btn-success mt-2" (click)="guardarEdicionCambios(categoria)">Guardar Cambios</button>
          <button class="btn btn-success mt-2" (click)="cancelarEdicion()">Cancelar</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>
